<footer class="footer">
    <p class="footer-company">{{company.companyName}}</p>
    <nav class="footer-menu">
        <a href="{{socials.facebookLink}}" class="footer-link">{{socials.facebookLink.label}}</a>
        <a href="{{socials.instagramLink}}" class="footer-link">{{socials.instagramLink.label}}</a>
    </nav>
</footer>
