{% extends "_layouts/base.twig" %}
{% set aboutItems = craft.entries.section("about").all() %}

{% block content %}
  <div class="accordion">
    {% for item in aboutItems %}
      <div class="accordion__item">
        <button class="accordion__header"><span>{{ item.title }}</span><span class="accordion__icon"></span></button>
        <div class="accordion__content">
          <p class="woon__about">{{ item.about }}</p>
          <p class="woon__subtitle">{{ item.subtiltel }}</p>
          <p class="woon__about woon__about--2">{{ item.about2 }}</p>
          <p class="woon__subtitle woon__subtitle--2">{{ item.subtiltel2 }}</p>
          <p class="woon__about woon__about--3">{{ item.about3 }}</p>
          <p class="woon__subtitle woon__subtitle--2">{{ item.subtiltel3 }}</p>
          <p class="woon__about woon__about--3">{{ item.about4 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
