{% extends "_layouts/base.twig" %}
{% set services = craft.entries.section("service").all() %}

{% block content %}

{% for item in services %}
    <div class= "team-cards">
        <h2 class="team-cards__title">{{item.title}}</h2>
        <h3 class="team-cards__job-title"></h3>
        <img src="{{item.image}}" alt="">
        <p class="team-cards__about">
            {{item.about}}
        </p>
{% if item.telephoneNumber or item.eMail %}
    <div class="team-cards__contact">
        {% if item.telephoneNumber %}

            <p class="team-cards__contact-item">
                Telefoon nummer: {{ item.telephoneNumber }}
            </p>

        {% endif %}
        
        {% if item.eMail %}
            <p class="team-cards__contact-item">E-mail: {{ item.eMail }}</p>
        {% endif %}
    </div>
{% endif %}

    </div>
    
{% endfor %}

{% endblock %}